.button {
    color: black;
    border-color: black;
    background-color: #ffe01b;
    border-width: 2px;
    border-radius: 40%;
    padding: 20px 25px;
    border-radius: 30px;
    cursor: pointer;
  }
  .relatedlinks {
    display: flex;
    justify-content: center;
  }
  
  .listHeading {
    font-size: 1.3rem; /* Adjust heading size */
    margin-bottom: 10px; /* Add space below heading */
  }
  
  .relatedlinks li {
    text-decoration: underline;
    display: flex;
    margin: 20px; /* Adjust spacing between list items */
    /* align-items: center; Align vertically */
  }
  
  .relatedlinks ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    /* flex-direction: column; Stack list items vertically */
    align-items: center; /* Center horizontally */
  }
  